USE [master]
GO
/****** Object:  Database [aso]    Script Date: 6/29/2017 7:08:02 PM ******/
CREATE DATABASE [aso] ON  PRIMARY 
( NAME = N'aso', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\aso.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'aso_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\aso_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [aso].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [aso]
GO
/****** Object:  Table [dbo].[CaseStudy]    Script Date: 6/29/2017 7:08:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaseStudy](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[PageName] [nvarchar](4000) NULL,
	[title_seo] [nvarchar](4000) NULL,
	[desc_seo] [nvarchar](4000) NULL,
	[key_seo] [nvarchar](4000) NULL,
	[banner_img] [nvarchar](4000) NULL,
	[Title] [nvarchar](4000) NULL,
	[Mail_Content] [nvarchar](4000) NULL,
	[footer] [nvarchar](4000) NULL,
	[created_date] [date] NULL,
	[Category] [nvarchar](4000) NULL,
 CONSTRAINT [PK_CaseStudy] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 6/29/2017 7:08:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](450) NULL,
	[LastName] [nvarchar](450) NULL,
	[ContactNumber] [nvarchar](450) NULL,
	[Address] [nvarchar](450) NULL,
 CONSTRAINT [PK_Contacts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
